@import "_colors.scss";

.loginPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000057;
  flex-direction: column;
}

.loginContainer {
  width: 480px;
  height: 600px;
  display: flex;
  background: var(--bg);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
}

.loginLeft {
  width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 32px;
    color: var(--text);
    margin-bottom: 10px;
  }
}

.subtitle {
  color: #6b778c;
  font-size: 15px;
  margin-bottom: 65px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  input {
    background-color: var(--border);
    padding: 14px 16px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #adadad;
    outline: none;
    color: var(--text);

    &:focus {
      border-color: var(--primary);
    }
  }
}

.groupbtn {
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  gap: 10px;
  flex-direction: column;
}

.loginbtn {
  padding: 14px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background: #0052cc;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #0747a6;
  }

  &:disabled {
    background: #a5adba;
    cursor: not-allowed;
  }
}

.googleBtn {
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #dfe1e6;
  background: #ffffff;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: background 0.2s;

  &:hover {
    background: #f4f5f7;
  }
}

.googleIcon {
  font-size: 20px;
}

.authFooter {
  margin-top: 50px;
}

.registerLink {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.title img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}


.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
  color: rgb(0 82 204);
}
