.registerPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000057;
}

.registerContainer {
  width: 900px;
  height: 560px;
  display: flex;
  background: var(--bg);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 12px 45px rgba(0, 0, 0, 0.12);
}

/* =====================
   LEFT CONTENT
===================== */
.registerLeft {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 32px;
    color: var(--text);
    margin-bottom: 8px;
  }
}

.subtitle {
  font-size: 15px;
  color: #6b778c;
  margin-bottom: 30px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    padding: 14px 16px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #dfe1e6;
    outline: none;
    background-color: var(--border);
    color: var(--text);

    &:focus {
      border-color: #0052cc;
      box-shadow: 0 0 0 2px rgba(0, 82, 204, 0.2);
    }
  }

}

.groupbtn {
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  gap: 10px;
  margin-top: 15px;
}

.rigisterBtn{
  padding: 14px;
  width: 40%;
  border-radius: 6px;
  border: none;
  background: #0052cc;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #0747a6;
  }

  &:disabled {
    background: #a5adba;
    cursor: not-allowed;
  }
}

/* =====================
   GOOGLE BUTTON
===================== */
.googleBtn {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #dfe1e6;
  background: #ffffff;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: background 0.2s;

  &:hover {
    background: #f4f5f7;
  }
}

.googleIcon {
  font-size: 20px;
}

/* =====================
   RIGHT IMAGE
===================== */
.registerRight {
  width: 50%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.registerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

  animation: slideImageFromRight 0.9s ease-out forwards;
}
