@import "_colors";

.worktable-container {
  width: 100%;
  overflow-x: auto;
}

.worktable-container.space {
  margin-top: 16px;
  background : var(--surface);
  border-radius: 8px;
}

.worktable {
  width: 100%;
  border-collapse: collapse;
  color: var(--text);
  min-width: 1100px;
}

.worktable thead {
  background: var(--bg);
}

.worktable th {
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  color: var(--muted);
  text-align: left;
  border-bottom: 1px solid var(--border);
}

.worktable td {
  padding: 12px;
  font-size: 13px;
  border-bottom: 1px solid var(--border);
}

.worktable tbody tr:hover {
  background: rgba(255, 255, 255, 0.04);
}

.work-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-key {
  color: var(--primary);
  font-weight: 600;
}

.task-title {
  color: var(--text);
}


.priority {
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.priority.medium {
  background: rgba(255, 170, 0, 0.15);
  color: #ffb020;
}

.status {
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.status.to\ do {
  background: rgba(255, 255, 255, 0.08);
  color: var(--muted);
}

.status.in\ progress {
  background: rgba(102, 157, 241, 0.15);
  color: var(--primary);
}

.status.done {
  background: rgba(80, 200, 120, 0.15);
  color: #50c878;
}

.worktable-container.user {
  background: var(--bg);
}

.user-list {
  display: flex;
  flex-direction: column;
}

.user-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  // border-bottom: 1px solid var(--border);
  transition: background 0.2s ease;
}

.user-list-item:hover {
  background: rgba(255, 255, 255, 0.03);
}

.user-list-item .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-list-item .title {
  font-size: 15px;
  font-weight: 500;
  color: var(--text);
}

.user-list-item .meta {
  font-size: 12px;
  color: var(--muted);
}

.user-list-item .right {
  font-size: 12px;
  color: var(--muted);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #3b82f6;
  cursor: pointer;
}
